<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}可视化评估系统{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='plugin/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        .nav-tabs {
            border-radius: 0;
            text-align: center;
            margin-top: 200px;
            margin-left: 500px;
            margin-right: 500px;
        }

        a {
            color: #000000;
        }

        li {
            list-style: none;
            display: inline-block;
            margin-right: 75px;
        }

        li:last-child {
            margin: 0;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#calculate" aria-controls="calculate" role="tab"
                                                  data-toggle="tab">计算输入</a></li>
        <li role="presentation"><a href="#brigade" aria-controls="brigade" role="tab" data-toggle="tab">舰队可用度评估</a></li>
        <li role="presentation"><a href="#experiment" aria-controls="experiment" role="tab"
                                   data-toggle="tab">试验可用度评估</a></li>
        <li role="presentation"><a href="#mars" aria-controls="mars" role="tab" data-toggle="tab">马氏可用度评估</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#parameter" role="button" aria-haspopup="true"
               aria-expanded="false">
                设备参数计算 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="tab">
                <li><a href="#MTBF" aria-controls="MTBF" data-toggle="tab">MTBF评估</a></li>
                <li><a href="#MTTR" aria-controls="MTTR" data-toggle="tab">MTTR评估</a></li>
                <li><a href="#MDT" aria-controls="MDT" data-toggle="tab">MDT评估</a></li>
            </ul>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="calculate">
            <p>计算输入页面</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="brigade">
            <p>舰队可用度页面</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="experiment">
            <p>试验可用度页面</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="mars">
            <p>马氏可用度页面</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="MTBF">
            <p>MTBF页面</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="MTTR">
            <p>MTTR页面</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="MDT">
            <p>MDT页面</p>
        </div>
    </div>

</div>
{% block content %}{% endblock %}

<script src="{{ url_for('static',filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>