{% extends 'basic.html' %}

{% block title %}舰队可用评估{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <!--为ECharts准备一个具备大小（宽高）的Dom-->
    {#    <div id="main" style="height:550px;border:1px solid #ccc;padding:10px;"></div>#}
    <div id="main" style=" margin: 0 auto; width: 1300px;height:400px;"></div>
    {#    <div id="main1" style=" margin: 0 auto; width: 1300px;height:400px;"></div>#}
    {#    <div id="main2" style=" margin: 0 auto; width: 1300px;height:400px;"></div>#}
{% endblock %}

{% block js %}
    <script type="text/javascript">
var myChart = echarts.init(document.getElementById('main'));
var data = {"categor": ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"],
            "dat": [5, 20, 36, 10, 10, 20]}
{#var data = {"衬衫":5,"羊毛衫":20,"雪纺衫":36,"裤子":10,"高跟鞋":10,"袜子":20}#}

{#//类别数组（实际用来盛放X轴坐标值）#}
{#var x_names = [];#}
{#var y_datas = [];#}
{#//挨个取出类别并填入类别数组#}
{# $.each(data, function (index, item) {#}
{#                x_names.push(item);#}
{#                y_datas.push(item);#}
{#            });#}

// 显示标题，图例和空的坐标轴
myChart.setOption({
    title: {
        text: '异步数据加载示例'
    },
    tooltip: {},
    legend: {
        data:['销量']
    },
    xAxis: {
        data: []
    },
    yAxis: {},
    series: [{
        name: '销量',
        type: 'bar',
        data: []
    }]
});
myChart.showLoading();
// 异步加载数据
$.get('calculate').done(function () {
    myChart.hideLoading();
    // 填入数据
    myChart.setOption({
        xAxis: {
            data: data.categor //不要用categore，data命名
        },
        series: [{
            // 根据名字对应到相应的系列
            name: '销量',
            data: data.dat
        }]
    });
});
    </script>
{% endblock %}