{% extends 'basic.html' %}
<!--修改-->
{% block title %}马氏可用度评估{% endblock %}

{% block css %}
    <style>
        .cssMain {
            border: 1px solid #f0f0f0;
            margin-top: -20px;
            padding: 0px 30px 30px 30px;
            -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
        }

        .cssLabel {
            margin: 20px auto;
            border: 3px solid #f0f0f0;
            padding: 40px 5px 5px 5px;
            -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
        }

        .cssEcharts {
            margin: 20px auto;
            width: 95%;
            height: 400px;
        }

        .pd-0 {
            padding: 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="selectModal" class="modal fade" tabindex="-1" role="dialog" style="margin: 10%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>请选择查询内容</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="dateModal" class="modal fade" tabindex="-1" role="dialog" style="margin: 10%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>请选择时间</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="searchModal" class="modal fade" tabindex="-1" role="dialog" style="margin: 10%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>查询失败</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container cssMain">
        <div class="cssLabel">
            <!--修改-->
            <label style="font-size: 20px;margin-top: -10px">单一系统马氏稳态可用度</label>
            <div class="row">
                <!--修改-->
                <form id="myForm1" class="form-horizontal">
                    <div class="form-group clearfix">
                        <div style="margin-left: -30px" class="col-md-5 pd-0">
                            <label for="selectTime" class="col-md-4 control-label">开始时间:</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    <!--修改-->
                                    <input id="startDate1" name="startDate1" type="text" autocomplete="off"
                                           class="form-control"
                                           aria-describedby="startDate1" placeholder="请输入开始时间"
                                           data-provide="datepicker">
                                </div>
                                <span class="error-msg"></span>
                            </div>
                        </div>
                        <div style="margin-left: -150px" class="col-md-5 pd-0">
                            <label for="selectTime" class="col-md-4 control-label">结束时间:</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    <!--修改-->
                                    <input id="endDate1" name="endDate1" type="text" autocomplete="off"
                                           class="form-control"
                                           aria-describedby="endDate1" placeholder="请输入结束时间" data-provide="datepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!--修改-->
                    <label style="margin-left: 52px">系统:</label>
                    <div style="margin-left: 113px;margin-top: -33px">
                        <select class="selectpicker" onchange="selectOperation('select1_1','select1_2','select1_3')"
                                id="select1_1" name="select1_1" title="请选择系统">
                            <option value="6管30mm舰炮系统">6管30mm舰炮系统</option>
                            <option value="630系统">630系统</option>
                            <option value="H/PJ26型单管76mm舰炮系统">H/PJ26型单管76mm舰炮系统</option>
                            <option value="H/PJ13型6管30mm舰炮系统">H/PJ13型6管30mm舰炮系统</option>
                            <option value="单76系统">单76系统</option>
                            <option value="单76舰炮火控系统">单76舰炮火控系统</option>
                            <option value="双100炮系统">双100炮系统</option>
                            <option value="单76炮系统">单76炮系统</option>
                            <option value="单100系统">单100系统</option>
                            <option value="H/PJ333B舰炮系统">H/PJ333B舰炮系统</option>
                            <option value="双100炮系统">双100炮系统</option>
                            <option value="双100系统">双100系统</option>
                            <option value="双37系统">双37系统</option>
                            <option value="3200火箭炮系统">3200火箭炮系统</option>
                            <option value="1130舰炮武器系统">1130舰炮武器系统</option>
                            <option value="单管76舰炮武器系统">单管76舰炮武器系统</option>
                            <option value="万发系统">万发系统</option>
                            <option value="857副炮系统">857副炮系统</option>
                            <option value="单76主炮系统">单76主炮系统</option>
                            <option value="单130系统">单130系统</option>
                            <option value="非系统">非系统</option>
                            <option value="400H2逆变电源">400H2逆变电源</option>
                            <option value="11管30mm舰炮系统">11管30mm舰炮系统</option>
                            <option value="360系统">360系统</option>
                            <option value="69A式双30mm舰炮系统">69A式双30mm舰炮系统</option>
                            <option value="76F双37㎜舰炮">76F双37㎜舰炮</option>
                            <option value="7管30mm舰炮系统">7管30mm舰炮系统</option>
                            <option value="857系统">857系统</option>
                            <option value="H/LJQ-363A搜索雷达">H/LJQ-363A搜索雷达</option>
                            <option value="H/PJ26型单管76mm舰炮">H/PJ26型单管76mm舰炮</option>
                            <option value="АК-130舰炮">АК-130舰炮</option>
                        </select><br>
                    </div>
                </div>
                <!--修改-->
                <div class="col-md-5">
                    <label class="col-md-4" style="margin-left: -8px;">舰队:</label>
                    <div style="margin-left: -83px;margin-top: -7px" class="col-md-3">
                        <select class="selectpicker" onchange="selectOperation('select1_2','select1_1','select1_3')"
                                id="select1_2"
                                name="select1_2" title="请选择舰队">
                            <option value="205大队">205大队</option>
                            <option value="21大队">21大队</option>
                            <option value="14大队">14大队</option>
                            <option value="登五支队">登五支队</option>
                            <option value="护13支队">护13支队</option>
                            <option value="护14支队">护14支队</option>
                            <option value="护15支队">护15支队</option>
                            <option value="护16支队">护16支队</option>
                            <option value="驱3支队">驱3支队</option>
                            <option value="作2支队">作2支队</option>
                        </select><br>
                    </div>
                </div>
                <div class="col-md-3">
                    <label style="margin-left: -145px">试验:</label>
                    <div style="margin-left: -80px;margin-top: -32px">
                        <!--修改-->
                        <select class="selectpicker" onchange="selectOperation('select1_3','select1_1','select1_2')"
                                id="select1_3" name="select1_3" title="请选择试验">
                            <option value="4A系泊航行">4A系泊航行</option>
                            <option value="4A陆试">4A陆试</option>
                            <option value="54系泊航行">54系泊航行</option>
                            <option value="55陆试">55陆试</option>
                            <option value="052陆试">052陆试</option>
                            <option value="2D陆试">2D陆试</option>
                            <option value="2D系泊航行">2D系泊航行</option>
                            <option value="6A系泊航行">6A系泊航行</option>
                            <option value="172系泊航行">172系泊航行</option>
                        </select><br>
                    </div>
                </div>
                <div class="col-md-3">
                    <!--修改-->
                    <button id="button1"
                            onclick="searchOnclick('myForm1','echartsMars1',option_bar,'startDate1','endDate1','/dataurl1')"
                            style="margin-left: 1010px;margin-top: -60px" type="button"
                            class="btn btn-primary">查询
                    </button>
                </div>
            </div>
            <!--为ECharts准备一个具备大小（宽高）的Dom--> <!--修改-->
            <div id="echartsMars1" class="cssEcharts"></div>
        </div>
        <div class="cssLabel">
            <!--修改-->
            <label style="font-size: 20px;margin-top: -10px">所有系统马氏稳态可用度</label>
            <!--修改-->
            <form id="myForm2" class="form-horizontal">
                <div class="form-group clearfix">
                    <div style="margin-left: -30px" class="col-md-5 pd-0">
                        <label for="selectTime" class="col-md-4 control-label">开始时间:</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                <!--修改-->
                                <input id="startDate2" name="startDate2" type="text" autocomplete="off"
                                       class="form-control"
                                       aria-describedby="startDate2" placeholder="请输入开始时间" data-provide="datepicker">
                            </div>
                            <span class="error-msg"></span>
                        </div>
                    </div>
                    <div style="margin-left: -100px" class="col-md-5 pd-0">
                        <label for="selectTime" class="col-md-4 control-label">结束时间:</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                <!--修改-->
                                <input id="endDate2" name="endDate2" type="text" autocomplete="off"
                                       class="form-control"
                                       aria-describedby="endDate2" placeholder="请输入结束时间" data-provide="datepicker">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <label class="col-md-3" style="margin-left: 770px;margin-top: -43px">系统/舰队/试验:</label>
                <div class="btn-group col-md-3" data-toggle="buttons" style="margin-left: 900px;margin-top: -50px">
                    <label class="btn btn-primary active">
                        <div onclick="inputOnclick('select2_1','myForm2', 'echartsMars2', option_bar, 'startDate2', 'endDate2', 'dataurl2')">
                            <input type="radio" name="select2_1" id="select2_1" value="系统" autocomplete="off">系统
                        </div>
                    </label>
                    <label class="btn btn-primary">
                        <div onclick="inputOnclick('select2_2','myForm2', 'echartsMars2', option_bar, 'startDate2', 'endDate2', 'dataurl2')">
                            <input type="radio" name="select2_2" id="select2_2" value="舰队" autocomplete="off"> 舰队
                        </div>
                    </label>
                    <label class="btn btn-primary">
                        <div onclick="inputOnclick('select2_3','myForm2', 'echartsMars2', option_bar, 'startDate2', 'endDate2', 'dataurl2')">
                            <input type="radio" name="select2_3" id="select2_3" value="试验" autocomplete="off"> 试验
                        </div>
                    </label>
                </div>
            </div>
            <!--为ECharts准备一个具备大小（宽高）的Dom--> <!--修改-->
            <div id="echartsMars2" class="cssEcharts"></div>
        </div>
        <div class="cssLabel">
            <!--修改-->
            <label style="font-size: 20px;margin-top: -10px">单一系统瞬时可用度</label>
            <div class="row">
                <!--修改-->
                <form id="myForm3" class="form-horizontal">
                    <div class="form-group clearfix">
                        <div style="margin-left: -30px" class="col-md-5 pd-0">
                            <label for="selectTime" class="col-md-4 control-label">开始时间:</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    <!--修改-->
                                    <input id="startDate3" name="startDate3" type="text" autocomplete="off"
                                           class="form-control"
                                           aria-describedby="startDate3" placeholder="请输入开始时间"
                                           data-provide="datepicker">
                                </div>
                                <span class="error-msg"></span>
                            </div>
                        </div>
                        <div style="margin-left: -150px" class="col-md-5 pd-0">
                            <label for="selectTime" class="col-md-4 control-label">结束时间:</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    <!--修改-->
                                    <input id="endDate3" name="endDate3" type="text" autocomplete="off"
                                           class="form-control"
                                           aria-describedby="endDate3" placeholder="请输入结束时间" data-provide="datepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!--修改-->
                    <label style="margin-left: 52px">系统:</label>
                    <div style="margin-left: 113px;margin-top: -33px">
                        <select class="selectpicker" onchange="selectOperation('select3_1','select3_2','select3_3')"
                                id="select3_1" name="select3_1" title="请选择系统">
                            <option value="6管30mm舰炮系统">6管30mm舰炮系统</option>
                            <option value="630系统">630系统</option>
                            <option value="H/PJ26型单管76mm舰炮系统">H/PJ26型单管76mm舰炮系统</option>
                            <option value="H/PJ13型6管30mm舰炮系统">H/PJ13型6管30mm舰炮系统</option>
                            <option value="单76系统">单76系统</option>
                            <option value="单76舰炮火控系统">单76舰炮火控系统</option>
                            <option value="双100炮系统">双100炮系统</option>
                            <option value="单76炮系统">单76炮系统</option>
                            <option value="单100系统">单100系统</option>
                            <option value="H/PJ333B舰炮系统">H/PJ333B舰炮系统</option>
                            <option value="双100炮系统">双100炮系统</option>
                            <option value="双100系统">双100系统</option>
                            <option value="双37系统">双37系统</option>
                            <option value="3200火箭炮系统">3200火箭炮系统</option>
                            <option value="1130舰炮武器系统">1130舰炮武器系统</option>
                            <option value="单管76舰炮武器系统">单管76舰炮武器系统</option>
                            <option value="万发系统">万发系统</option>
                            <option value="857副炮系统">857副炮系统</option>
                            <option value="单76主炮系统">单76主炮系统</option>
                            <option value="单130系统">单130系统</option>
                            <option value="非系统">非系统</option>
                            <option value="400H2逆变电源">400H2逆变电源</option>
                            <option value="11管30mm舰炮系统">11管30mm舰炮系统</option>
                            <option value="360系统">360系统</option>
                            <option value="69A式双30mm舰炮系统">69A式双30mm舰炮系统</option>
                            <option value="76F双37㎜舰炮">76F双37㎜舰炮</option>
                            <option value="7管30mm舰炮系统">7管30mm舰炮系统</option>
                            <option value="857系统">857系统</option>
                            <option value="H/LJQ-363A搜索雷达">H/LJQ-363A搜索雷达</option>
                            <option value="H/PJ26型单管76mm舰炮">H/PJ26型单管76mm舰炮</option>
                            <option value="АК-130舰炮">АК-130舰炮</option>
                        </select><br>
                    </div>
                </div>
                <!--修改-->
                <div class="col-md-5">
                    <label class="col-md-4" style="margin-left: -8px;">舰队:</label>
                    <div style="margin-left: -83px;margin-top: -7px" class="col-md-3">
                        <select class="selectpicker" onchange="selectOperation('select3_2','select3_1','select3_3')"
                                id="select3_2"
                                name="select3_2" title="请选择舰队">
                            <option value="205大队">205大队</option>
                            <option value="21大队">21大队</option>
                            <option value="14大队">14大队</option>
                            <option value="登五支队">登五支队</option>
                            <option value="护13支队">护13支队</option>
                            <option value="护14支队">护14支队</option>
                            <option value="护15支队">护15支队</option>
                            <option value="护16支队">护16支队</option>
                            <option value="驱3支队">驱3支队</option>
                            <option value="作2支队">作2支队</option>
                        </select><br>
                    </div>
                </div>
                <div class="col-md-3">
                    <label style="margin-left: -145px">试验:</label>
                    <div style="margin-left: -80px;margin-top: -32px">
                        <!--修改-->
                        <select class="selectpicker" onchange="selectOperation('select3_3','select3_1','select3_2')"
                                id="select3_3" name="select3_3" title="请选择试验">
                            <option value="4A系泊航行">4A系泊航行</option>
                            <option value="4A陆试">4A陆试</option>
                            <option value="54系泊航行">54系泊航行</option>
                            <option value="55陆试">55陆试</option>
                            <option value="052陆试">052陆试</option>
                            <option value="2D陆试">2D陆试</option>
                            <option value="2D系泊航行">2D系泊航行</option>
                            <option value="6A系泊航行">6A系泊航行</option>
                            <option value="172系泊航行">172系泊航行</option>
                        </select><br>
                    </div>
                </div>
                <div class="col-md-3">
                    <!--修改-->
                    <button id="button1"
                            onclick="searchOnclick('myForm3','echartsMars3',option_line,'startDate3','endDate3','/dataurl1')"
                            style="margin-left: 1010px;margin-top: -60px" type="button"
                            class="btn btn-primary">查询
                    </button>
                </div>
            </div>
            <!--为ECharts准备一个具备大小（宽高）的Dom--> <!--修改-->
            <div id="echartsMars3" class="cssEcharts"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        //重写  bootstrap-select宽度  <!--修改-->
        function selectpickerWidth(selecteId) {
            $("#" + selecteId).selectpicker({
                width: 210,
            })
        }

        // 点击选项框获取值，并禁用其他框
        // 参数说明
        // onChangeId ‘要获取值的选项框id’
        // disableId1,disableId2 ‘要禁用选项框的id’
        var selectValue //全局变量
        function selectOperation(onChangeId, disableId1, disableId2) {
            //获取当前选择框的值
            getValue = $("#" + onChangeId).val();
            selectValue = {name: onChangeId, value: getValue}
            //禁用其他选择框
            {#$("#" + disableId1).attr("disabled", "disabled");#}
            {#$("#" + disableId2).attr("disabled", "disabled");#}
            //恢复其他选择框为默认状态
            document.getElementById(disableId1).options.selectedIndex = 0; //回到初始状态
            $("#" + disableId1).selectpicker('refresh');//对searchPayState这个下拉框进行重置刷新
            document.getElementById(disableId2).options.selectedIndex = 0; //回到初始状态
            $("#" + disableId2).selectpicker('refresh');//对searchPayState这个下拉框进行重置刷新
        }

        // 取消所有选项框禁用属性
        function delDisable() {
            $('#select1_1').removeAttr("disabled");
            $('#select1_2').removeAttr("disabled");
            $('#select1_3').removeAttr("disabled");
        }

        /*
               添加对话框：初始化时间选择 结束时间始终不大于开始时间和当前时间
               参数 = '开始时间和结束时间输入框id'
                */
        function DatePicker(beginSelector, endSelector) {
            // 仅选择日期
            $(beginSelector).datepicker(
                {
                    language: "zh-CN",
                    autoclose: true,
                    startView: 0,
                    format: "yyyy-mm-dd",
                    clearBtn: true,
                    todayBtn: false,
                    todayHighlight: true,
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(endSelector).datepicker('setStartDate', new Date(ev.date.valueOf()))
                } else {
                    $(endSelector).datepicker('setStartDate', null);
                }
            })

            $(endSelector).datepicker(
                {
                    language: "zh-CN",
                    autoclose: true,
                    startView: 0,
                    format: "yyyy-mm-dd",
                    clearBtn: true,
                    todayBtn: false,
                    todayHighlight: true,
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(beginSelector).datepicker('setEndDate', new Date(ev.date.valueOf()))
                } else {
                    $(beginSelector).datepicker('setEndDate', new Date());
                }

            })
        }

        // 只展示年份
        function showYearDatePicker(beginSelector, endSelector) {
            // 仅选择日期
            $(beginSelector).datepicker(
                {
                    startView: 2,
                    maxViewMode: 2,
                    minViewMode: 2,
                    language: "zh-CN",
                    autoclose: true,
                    format: "yyyy",
                    clearBtn: true,
                    todayBtn: false,
                    todayHighlight: true,
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(endSelector).datepicker('setStartDate', new Date(ev.date.valueOf()))
                } else {
                    $(endSelector).datepicker('setStartDate', null);
                }
            })

            $(endSelector).datepicker(
                {
                    startView: 2,
                    maxViewMode: 2,
                    minViewMode: 2,
                    language: "zh-CN",
                    autoclose: true,
                    format: "yyyy",
                    clearBtn: true,
                    todayBtn: false,
                    todayHighlight: true,
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(beginSelector).datepicker('setEndDate', new Date(ev.date.valueOf()))
                } else {
                    $(beginSelector).datepicker('setEndDate', new Date());
                }

            })
        }

        $(function () {
            //初始化时间选择器
            showYearDatePicker("#startDate1", "#endDate1");
            showYearDatePicker("#startDate2", "#endDate2");
            showYearDatePicker("#startDate3", "#endDate3");
            // 修改选择框宽度
            selectpickerWidth('select1_1')
            selectpickerWidth('select1_2')
            selectpickerWidth('select1_3')
            selectpickerWidth('select3_1')
            selectpickerWidth('select3_2')
            selectpickerWidth('select3_3')
        });
    </script>
    <script>
        //点击查询 获取当前表单数据
        // 参数说明
        // myFormId：'表单id'
        // echartId:'插入图像div的id'
        // option：option_bar/option_line
        // startDate:‘开始时间输入框id‘
        // endDate：‘结束时间输入框id‘
        // postDataUrl：‘后台接受post时间&选项框内容url‘
        // chartDataUrl='后台发送图像加载数据url'
        // DataUrl:'前台post和后台发送数据写为同一个函数'                   <!--修改-->
        function searchOnclick(myFormId, echartId, option, startDate, endDate, DataUrl) {
            //获取整个表单中数据  生成查询key-value数组
            var formDate = $("#" + myFormId).serializeArray();
            var formDates = []
            $.each(formDate, function (index, item) {
                formDates[item.name] = item.value;
            })
            //push 下拉框的json值
            formDate.push(selectValue)
            // 判断 时间格式
            if (formDates[startDate] == '' || formDates[endDate] == '') {
                {#alert('请选择时间')#}
                //弹出‘请选择时间‘模态框
                $("#dateModal").modal();
            } else if (selectValue == null) {
                {#alert('请选择查询内容')#}
                //弹出‘请选择查询内容‘模态框
                $("#selectModal").modal();
            } else {
                //格式正确 发送时间和选项内容到前台
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: DataUrl,
                    data: formDate,
                    success: function (status) {
                        // 获取状态码
                        console.log(status)
                        //从前台读取数据重新加载图像
                        load_data(echartId, option, DataUrl);
                    },
                    error: function () {
                        {#alert('查询失败')#}
                        //弹出‘查询失败‘模态框
                        $("#searchModal").modal();
                    }
                });
            }
        }

        // input查询按钮点击事件 获取当前选中按钮值，并接收后台数据加载图像
        {#inputOnclick('myForm2','echartsMars2',option_bar,'startDate2','endDate2','/dataurl2')#}
        //参数说明
        // inputId：‘input按钮的id’
        function inputOnclick(inputId, myFormId, echartId, option, startDate, endDate, DataUrl) {
            var inputValue = document.getElementById(inputId).value;
            // 将值保存为key-value传给后台
            var inputData = {name: inputId, value: inputValue}
            //获取整个表单中数据  生成查询key-value数组
            var formDate = $("#" + myFormId).serializeArray();
            var formDates = []
            $.each(formDate, function (index, item) {
                formDates[item.name] = item.value;
            })
            //push input按钮的json值
            formDate.push(inputData)
            // 判断 时间格式
            if (formDates[startDate] == '' || formDates[endDate] == '') {
                {#alert('请选择时间')#}
                //弹出‘请选择时间‘模态框
                $("#dateModal").modal();
            } else {
                //格式正确 发送时间和选项内容到前台
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: DataUrl,
                    data: formDate,
                    success: function (status) {
                        // 获取状态码
                        console.log(status)
                        //从前台读取数据重新加载图像
                        load_data(echartId, option, DataUrl);
                    },
                    error: function () {
                        {#alert('查询失败')#}
                        //弹出‘查询失败‘模态框
                        $("#searchModal").modal();
                    }
                });
            }
        }
    </script>
    <script>
        // 柱状图样式
        var option_bar = {
            dataZoom: [
                {
                    type: 'slider',
                    show: true,
                    xAxisIndex: [0],
                    start: 1,
                    end: 35,
                    bottom: '-5',
                },
                {
                    type: 'inside',
                    xAxisIndex: [0],
                    start: 1,
                    end: 35
                },
            ],
            backgroundColor: '#00265f',
            title: {
                y: "4%",
                textStyle: {
                    color: '#fff',
                    fontSize: '22'
                },
                subtextStyle: {
                    color: '#90979c',
                    fontSize: '16',

                },
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                top: '15%',
                right: '3%',
                left: '5%',
                bottom: '12%'
            },
            legend: {
                data: ['可用度'],
                show: false
            },
            xAxis: {
                data: [],
                axisLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,0.12)'
                    },
                },
                axisLabel: {
                    margin: 10,
                    color: '#e2e9ff',
                    textStyle: {
                        fontSize: 14
                    },
                },
            },
            yAxis: {
                axisLabel: {
                    formatter: '{value}',
                    color: '#e2e9ff',
                },
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: 'rgba(255,255,255,1)'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,0.12)'
                    }
                }
            },
            series: [{
                name: '可用度',
                type: 'bar',
                data: [],
                barWidth: '20px',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(0,244,255,1)' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: 'rgba(0,77,167,1)' // 100% 处的颜色
                        }], false),
                        barBorderRadius: [30, 30, 30, 30],
                        shadowColor: 'rgba(0,160,221,1)',
                        shadowBlur: 4,
                    }
                },
                label: {
                    normal: {
                        show: true,
                        lineHeight: 30,
                        width: 80,
                        height: 30,
                        backgroundColor: 'rgba(0,160,221,0.1)',
                        borderRadius: 200,
                        position: ['-8', '-60'],
                        distance: 1,
                        formatter: [
                            '    {d|●}',
                            ' {a|{c}}     \n',
                            '    {b|}'
                        ].join(','),
                        rich: {
                            d: {
                                color: '#3CDDCF',
                            },
                            a: {
                                color: '#fff',
                                align: 'center',
                            },
                            b: {
                                width: 1,
                                height: 30,
                                borderWidth: 1,
                                borderColor: '#234e6c',
                                align: 'left'
                            },
                        }
                    }
                }
            }]
        };
    </script>
    <script>
        // 折线图样式
        var option_line = {
            dataZoom: [
                {
                    type: 'slider',
                    show: true,
                    xAxisIndex: [0],
                    start: 1,
                    end: 35,
                    bottom: '-5',
                },
                {
                    type: 'inside',
                    xAxisIndex: [0],
                    start: 1,
                    end: 35
                },
            ],
            backgroundColor: '#080b30',
            title: {
                y: "4%",
                textStyle: {
                    color: '#fff',
                    fontSize: '22'
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    lineStyle: {
                        color: {
                            type: 'linear',
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [{
                                offset: 0,
                                color: 'rgba(0, 255, 233,0)'
                            }, {
                                offset: 0.5,
                                color: 'rgba(255, 255, 255,1)',
                            }, {
                                offset: 1,
                                color: 'rgba(0, 255, 233,0)'
                            }],
                            global: false
                        }
                    }
                }
            },
            legend: {
                data: ['可用度'],
                show: false
            },
            grid: {
                top: '15%',
                right: '3%',
                left: '5%',
                bottom: '12%'
            },
            xAxis: {
                data: [],
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: '#9581F5'
                    },
                },
                splitArea: {
                    // show: true,
                    color: '#f00',
                    lineStyle: {
                        color: '#f00'
                    },
                },
                axisLabel: {
                    color: '#fff',
                    fontSize: 14
                },
                splitLine: {
                    show: false
                },
                boundaryGap: false,
                data: ['8：00', '9:00', '10:00', '11:00', '12:00', '13:00'],
            },
            yAxis: {
                min: 0,
                // max: 140,
                splitNumber: 4,
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255,255,255,0.1)'
                    }
                },
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: '#9581F5'
                    },
                },
                axisLabel: {
                    show: true,
                    margin: 20,
                    textStyle: {
                        color: '#d1e6eb',
                    },
                },
                axisTick: {
                    show: true,
                },
            },
            series: [{
                name: '可用度',
                type: 'line',
                data: [],
                // smooth: true, //是否平滑
                showAllSymbol: true,
                // symbol: 'image://./static/images/guang-circle.png',
                symbol: 'circle',
                symbolSize: 12,
                lineStyle: {
                    normal: {
                        color: "#6c50f3",
                        shadowColor: 'rgba(0, 0, 0, .3)',
                        shadowBlur: 0,
                        shadowOffsetY: 5,
                        shadowOffsetX: 5,
                    },
                },
                label: {
                    show: true,
                    position: 'top',
                    textStyle: {
                        color: '#fff',
                    }
                },
                itemStyle: {
                    color: "#6c50f3",
                    borderColor: "#fff",
                    borderWidth: 3,
                    shadowColor: 'rgba(0, 0, 0, .3)',
                    shadowBlur: 0,
                    shadowOffsetY: 2,
                    shadowOffsetX: 2,
                },
                tooltip: {
                    show: true
                },
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(108,80,243,0.3)'
                        },
                            {
                                offset: 1,
                                color: 'rgba(108,80,243,0)'
                            }
                        ], false),
                        shadowColor: 'rgba(108,80,243, 0.9)',
                        shadowBlur: 20
                    }
                },
            }]
        };
    </script>
    <script>
        // 函数封装 异步加载数据
        // 参数说明
        // id='图像位置div的id'
        // option=option_bar/option_line
        // url='/url',x_name=指定图x轴数组，y_name=指定图y轴数组
        function load_data(id, option, url,) {
            var myChart = echarts.init(document.getElementById(id));
            var x_name = []
            var y_name = []
            myChart.setOption(option)
            myChart.showLoading();
            $.get(url).done(function (data) {
                myChart.hideLoading();
                //遍历，分别取出key，value 字段名
                data = $.parseJSON(data)
                $.each(data, function (index, item) {
                    x_name.push(item.name);
                    y_name.push(item.value);
                });
                // 填入数据
                myChart.setOption({
                    title: {
                        show: false,
                    },
                    xAxis: {
                        data: x_name //不要用categore，data命名
                    },
                    series: [{
                        // 根据名字对应到相应的系列 name必须与图像样式里legend的name一样
                        name: '可用度',
                        data: y_name
                    }]
                });
            });
        }

        // 修改参数 初始化界面图像
        $(function () {
            load_data('echartsMars1', option_bar, '/t')
            load_data('echartsMars2', option_bar, '/t')
            load_data('echartsMars3', option_line, '/t')
        });
    </script>
{% endblock %}