{% extends 'basic.html' %}
<!--修改-->
{% block title %}MDT评估{% endblock %}

{% block css %}
    <style>
        .cssMain {
            border: 1px solid #f0f0f0;
            margin-top: -20px;
            padding: 0px 30px 30px 30px;
            -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
        }

        .cssLabel {
            margin: 20px auto;
            border: 3px solid #f0f0f0;
            padding: 40px 5px 5px 5px;
            -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
        }

        .cssEcharts {
            margin: 20px auto;
            width: 95%;
            height: 400px;
        }

        .pd-0 {
            padding: 0 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="dateModal" class="modal fade" tabindex="-1" role="dialog" style="margin: 10%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>请选择时间</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="searchModal" class="modal fade" tabindex="-1" role="dialog" style="margin: 10%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>查询失败</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container cssMain">
        <div class="cssLabel">
            <!--修改-->
            <label style="font-size: 20px;margin-top: -10px">单一系统所有设备MDT</label>
            <!--修改-->
            <form id="myForm1" class="form-horizontal">
                <div class="form-group clearfix">
                    <div style="margin-left: -30px" class="col-md-5 pd-0">
                        <label for="selectTime" class="col-md-4 control-label">开始时间:</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                <!--修改-->
                                <input id="startDate1" name="startDate1" type="text" autocomplete="off"
                                       class="form-control"
                                       aria-describedby="startDate1" placeholder="请输入开始时间" data-provide="datepicker">
                            </div>
                            <span class="error-msg"></span>
                        </div>
                    </div>
                    <div style="margin-left: -150px" class="col-md-5 pd-0">
                        <label for="selectTime" class="col-md-4 control-label">结束时间:</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                <!--修改-->
                                <input id="endDate1" name="endDate1" type="text" autocomplete="off"
                                       class="form-control"
                                       aria-describedby="endDate1" placeholder="请输入结束时间" data-provide="datepicker">
                            </div>
                        </div>
                    </div>
                    <!--修改-->
                    <div class="col-md-3 ">
                        <label style="margin-left: -70px;margin-top: 5px" class="col-md-4">系统:</label>
                        <div style="margin-left: 80px" class="col-md-6">
                            <select class="selectpicker pull-right" id="select1" name="select1">
                               <option value="6管30mm舰炮系统">6管30mm舰炮系统</option>
                                <option value="630系统">630系统</option>
                                <option value="H/PJ26型单管76mm舰炮系统">H/PJ26型单管76mm舰炮系统</option>
                                <option value="H/PJ13型6管30mm舰炮系统">H/PJ13型6管30mm舰炮系统</option>
                                <option value="单76系统">单76系统</option>
                                <option value="单76舰炮火控系统">单76舰炮火控系统</option>
                                <option value="双100炮系统">双100炮系统</option>
                                <option value="单76炮系统">单76炮系统</option>
                                <option value="单100系统">单100系统</option>
                                <option value="H/PJ333B舰炮系统">H/PJ333B舰炮系统</option>
                                <option value="双100炮系统">双100炮系统</option>
                                <option value="双100系统">双100系统</option>
                                <option value="双37系统">双37系统</option>
                                <option value="3200火箭炮系统">3200火箭炮系统</option>
                                <option value="1130舰炮武器系统">1130舰炮武器系统</option>
                                <option value="单管76舰炮武器系统">单管76舰炮武器系统</option>
                                <option value="万发系统">万发系统</option>
                                <option value="857副炮系统">857副炮系统</option>
                                <option value="单76主炮系统">单76主炮系统</option>
                                <option value="单130系统">单130系统</option>
                                <option value="非系统">非系统</option>
                                <option value="400H2逆变电源">400H2逆变电源</option>
                                <option value="11管30mm舰炮系统">11管30mm舰炮系统</option>
                                <option value="360系统">360系统</option>
                                <option value="69A式双30mm舰炮系统">69A式双30mm舰炮系统</option>
                                <option value="76F双37㎜舰炮">76F双37㎜舰炮</option>
                                <option value="7管30mm舰炮系统">7管30mm舰炮系统</option>
                                <option value="857系统">857系统</option>
                                <option value="H/LJQ-363A搜索雷达">H/LJQ-363A搜索雷达</option>
                                <option value="H/PJ26型单管76mm舰炮">H/PJ26型单管76mm舰炮</option>
                                <option value="АК-130舰炮">АК-130舰炮</option>
                            </select><br>
                        </div>
                    </div>
                    <!--修改-->
                    <button id="button1"
                            onclick="searchOnclick('myForm1','echartsMDT1',option_bar,'startDate1','endDate1','/dataurl2_1')"
                            style="margin-left: -20px" type="button"
                            class="btn btn-primary">查询
                    </button>
                </div>
            </form>
            <!--为ECharts准备一个具备大小（宽高）的Dom--> <!--修改-->
            <div id="echartsMDT1" class="cssEcharts"></div>
        </div>
        <div class="cssLabel">

            <!--修改-->
            <label style="font-size: 20px;margin-top: -10px">单一系统单一设备年度MDT</label>
            <!--修改-->
            <form id="myForm2" class="form-horizontal">
                <div class="form-group clearfix">
                    <div style="margin-left: -30px" class="col-md-5 pd-0">
                        <label for="selectTime" class="col-md-4 control-label">开始时间:</label>
                        <div class="col-md-5" style="margin-left: -20px">
                            <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                <!--修改-->
                                <input id="startDate2" name="startDate2" type="text" autocomplete="off"
                                       class="form-control"
                                       aria-describedby="startDate2" placeholder="请输入开始时间" data-provide="datepicker">
                            </div>
                            <span class="error-msg"></span>
                        </div>
                    </div>
                    <div style="margin-left: -220px" class="col-md-5 pd-0">
                        <label for="selectTime" class="col-md-4 control-label">结束时间:</label>
                        <div class="col-md-5" style="margin-left: -20px">
                            <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                <!--修改-->
                                <input id="endDate2" name="endDate2" type="text" autocomplete="off"
                                       class="form-control"
                                       aria-describedby="endDate2" placeholder="请输入结束时间" data-provide="datepicker">
                            </div>
                        </div>
                    </div>
                    <!--修改-->
                    <div class="col-md-3 ">
                        <label style="margin-left: -170px;margin-top: 5px" class="col-md-4">系统:</label>
                        <div style="margin-left: -40px" class="col-md-6">
                            <select class="selectpicker pull-right" id="select2_1" name="select2_1">
                                <option value="6管30mm舰炮系统">6管30mm舰炮系统</option>
                                <option value="630系统">630系统</option>
                                <option value="H/PJ26型单管76mm舰炮系统">H/PJ26型单管76mm舰炮系统</option>
                                <option value="H/PJ13型6管30mm舰炮系统">H/PJ13型6管30mm舰炮系统</option>
                                <option value="单76系统">单76系统</option>
                                <option value="单76舰炮火控系统">单76舰炮火控系统</option>
                                <option value="双100炮系统">双100炮系统</option>
                                <option value="单76炮系统">单76炮系统</option>
                                <option value="单100系统">单100系统</option>
                                <option value="H/PJ333B舰炮系统">H/PJ333B舰炮系统</option>
                                <option value="双100炮系统">双100炮系统</option>
                                <option value="双100系统">双100系统</option>
                                <option value="双37系统">双37系统</option>
                                <option value="3200火箭炮系统">3200火箭炮系统</option>
                                <option value="1130舰炮武器系统">1130舰炮武器系统</option>
                                <option value="单管76舰炮武器系统">单管76舰炮武器系统</option>
                                <option value="万发系统">万发系统</option>
                                <option value="857副炮系统">857副炮系统</option>
                                <option value="单76主炮系统">单76主炮系统</option>
                                <option value="单130系统">单130系统</option>
                                <option value="非系统">非系统</option>
                                <option value="400H2逆变电源">400H2逆变电源</option>
                                <option value="11管30mm舰炮系统">11管30mm舰炮系统</option>
                                <option value="360系统">360系统</option>
                                <option value="69A式双30mm舰炮系统">69A式双30mm舰炮系统</option>
                                <option value="76F双37㎜舰炮">76F双37㎜舰炮</option>
                                <option value="7管30mm舰炮系统">7管30mm舰炮系统</option>
                                <option value="857系统">857系统</option>
                                <option value="H/LJQ-363A搜索雷达">H/LJQ-363A搜索雷达</option>
                                <option value="H/PJ26型单管76mm舰炮">H/PJ26型单管76mm舰炮</option>
                                <option value="АК-130舰炮">АК-130舰炮</option>
                            </select><br>
                        </div>
                    </div>
                    <!--修改-->
                    <div class="col-md-3 ">
                        <label style="margin-left: 750px;margin-top: -30px" class="col-md-4">设备:</label>
                        <div style="margin-left: 880px; margin-top: -35px;" class="col-md-6">
                            <select class="selectpicker pull-right" id="select2_2" name="select2_2">
                               <option value="H/PJ13型6管30mm舰炮">H/PJ13型6管30mm舰炮</option>
                                <option value="ZGJ-1C光电跟踪仪">ZGJ-1C光电跟踪仪</option>
                                <option value="触摸屏">触摸屏</option>
                                <option value="630舰炮">630舰炮</option>
                                <option value="监控柜">监控柜</option>
                                <option value="光电跟踪仪">光电跟踪仪</option>
                                <option value="随动系统">随动系统</option>
                                <option value="630舰炮">630舰炮</option>
                                <option value="上软导引">上软导引</option>
                                <option value="下软导引">下软导引</option>
                                <option value="随动部分">随动部分</option>
                                <option value="机械部分">机械部分</option>
                                <option value="导气设备">导气设备</option>
                                <option value="冷却系统">冷却系统</option>
                                <option value="双联装57mm舰炮">双联装57mm舰炮</option>
                                <option value="双联装37mm舰炮">双联装37mm舰炮</option>
                                <option value="66式双57mm舰炮">66式双57mm舰炮</option>
                                <option value="61式双37mm舰炮（一）">61式双37mm舰炮（一）</option>
                                <option value="61式双38mm舰炮（二）">61式双38mm舰炮（二）</option>
                                <option value="61式双39mm舰炮（三）">61式双39mm舰炮（三）</option>
                                <option value="H/PJ17单管30毫米舰炮">H/PJ17单管30毫米舰炮</option>
                                <option value="单76毫米舰炮">单76毫米舰炮</option>
                                <option value="630舰炮火控设备">630舰炮火控设备</option>
                                <option value="H/PJ13型6管30mm舰炮">H/PJ13型6管30mm舰炮</option>
                                <option value="630舰炮">630舰炮</option>
                                <option value="H/ZGJ-1C光电跟踪仪">H/ZGJ-1C光电跟踪仪</option>
                                <option value="H/PJ130401监控柜">H/PJ130401监控柜</option>
                                <option value="H/PJ130402监控柜">H/PJ130402监控柜</option>
                                <option value="H/PJ130403监控柜">H/PJ130403监控柜</option>
                                <option value="1C光电跟踪仪">1C光电跟踪仪</option>
                                <option value="单管30毫米舰炮">单管30毫米舰炮</option>
                                <option value="卡什坦导弹火炮系统">卡什坦导弹火炮系统</option>
                                <option value="61F双37炮">61F双37炮</option>
                                <option value="61F双25炮">61F双25炮</option>
                                <option value="火控设备">火控设备</option>
                                <option value="349A跟踪雷达">349A跟踪雷达</option>
                                <option value="火控设备">火控设备</option>
                                <option value="347B跟踪雷达">347B跟踪雷达</option>
                                <option value="单76毫米舰炮">单76毫米舰炮</option>
                                <option value="349A雷达">349A雷达</option>
                                <option value="扬弹机">扬弹机</option>
                                <option value="76监控台">76监控台</option>
                                <option value="枪炮长显控台">枪炮长显控台</option>
                                <option value="H/ZPJ-2C指挥仪">H/ZPJ-2C指挥仪</option>
                                <option value="主炮雷达">主炮雷达</option>
                                <option value="跟踪雷达">跟踪雷达</option>
                                <option value="弹药装载机">弹药装载机</option>
                                <option value="左前副炮随动">左前副炮随动</option>
                                <option value="右前副炮随动">右前副炮随动</option>
                                <option value="左后副炮随动">左后副炮随动</option>
                                <option value="右后副炮随动">右后副炮随动</option>
                                <option value="前主炮随动">前主炮随动</option>
                                <option value="后主炮随动">后主炮随动</option>
                                <option value="主炮指挥仪">主炮指挥仪</option>
                                <option value="副炮指挥仪">副炮指挥仪</option>
                                <option value="副枪炮长显控台">副枪炮长显控台</option>
                                <option value="枪炮长显控台">枪炮长显控台</option>
                                <option value="JM-90瞄准仪">JM-90瞄准仪</option>
                                <option value="H/ZPJ-4C指挥仪">H/ZPJ-4C指挥仪</option>
                                <option value="副炮雷达">副炮雷达</option>
                                <option value="随动控制柜">随动控制柜</option>
                                <option value="反潜指挥仪">反潜指挥仪</option>
                                <option value="单76毫米舰炮">单76毫米舰炮</option>
                                <option value="火控系统">火控系统</option>
                                <option value="H/ZFJ-1型近程反导火控设备">H/ZFJ-1型近程反导火控设备</option>
                                <option value="H/LJP-349跟踪雷达">H/LJP-349跟踪雷达</option>
                                <option value="H/ZGJ-4光电跟踪仪">H/ZGJ-4光电跟踪仪</option>
                                <option value="H/JWJ-1捷联垂直参考基准">H/JWJ-1捷联垂直参考基准</option>
                                <option value="H/PJ12型7管30mm舰炮">H/PJ12型7管30mm舰炮</option>
                                <option value="H/PJ13型6管30mm舰炮">H/PJ13型6管30mm舰炮</option>
                                <option value="ZGJ-1C光电跟踪仪">ZGJ-1C光电跟踪仪</option>
                            </select><br>
                        </div>
                        <!--修改-->
                        <button id="button2"
                                onclick="searchOnclick('myForm2','echartsMDT2',option_line,'startDate2','endDate2','/dataurl2_2')"
                                style="margin-left: 1000px;margin-top: -60px" type="button"
                                class="btn btn-primary">查询
                        </button>
                    </div>
                </div>
            </form>
            <!--为ECharts准备一个具备大小（宽高）的Dom--> <!--修改-->
            <div id="echartsMDT2" class="cssEcharts"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        //重写 第二个图 bootstrap-select宽度  <!--修改-->
        $("#select2_1").selectpicker({
            width: 190,
        })
        $("#select2_2").selectpicker({
            width: 190,
        })

        /*
               添加对话框：初始化时间选择 结束时间始终不大于开始时间和当前时间
               参数 = '开始时间和结束时间输入框id'
                */
        function DatePicker(beginSelector, endSelector) {
            // 仅选择日期
            $(beginSelector).datepicker(
                {
                    language: "zh-CN",
                    autoclose: true,
                    startView: 0,
                    format: "yyyy-mm-dd",
                    clearBtn: true,
                    todayBtn: false,
                    todayHighlight: true,
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(endSelector).datepicker('setStartDate', new Date(ev.date.valueOf()))
                } else {
                    $(endSelector).datepicker('setStartDate', null);
                }
            })

            $(endSelector).datepicker(
                {
                    language: "zh-CN",
                    autoclose: true,
                    startView: 0,
                    format: "yyyy-mm-dd",
                    clearBtn: true,
                    todayBtn: false,
                    todayHighlight: true,
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(beginSelector).datepicker('setEndDate', new Date(ev.date.valueOf()))
                } else {
                    $(beginSelector).datepicker('setEndDate', new Date());
                }

            })
        }

        // 只展示年份
        function showYearDatePicker(beginSelector, endSelector) {
            // 仅选择日期
            $(beginSelector).datepicker(
                {
                    startView: 2,
                    maxViewMode: 2,
                    minViewMode: 2,
                    language: "zh-CN",
                    autoclose: true,
                    format: "yyyy",
                    clearBtn: true,
                    todayBtn: false,
                    todayHighlight: true,
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(endSelector).datepicker('setStartDate', new Date(ev.date.valueOf()))
                } else {
                    $(endSelector).datepicker('setStartDate', null);
                }
            })

            $(endSelector).datepicker(
                {
                    startView: 2,
                    maxViewMode: 2,
                    minViewMode: 2,
                    language: "zh-CN",
                    autoclose: true,
                    format: "yyyy",
                    clearBtn: true,
                    todayBtn: false,
                    todayHighlight: true,
                    endDate: new Date()
                }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(beginSelector).datepicker('setEndDate', new Date(ev.date.valueOf()))
                } else {
                    $(beginSelector).datepicker('setEndDate', new Date());
                }

            })
        }

        $(function () {
            showYearDatePicker("#startDate1", "#endDate1");
            showYearDatePicker("#startDate2", "#endDate2");
        });
    </script>
    <script>
        //点击查询 获取当前表单数据
        // 参数说明
        // myFormId：'表单id'
        // echartId:'插入图像div的id'
        // option：option_bar/option_line
        // startDate:‘开始时间输入框id‘
        // endDate：‘结束时间输入框id‘
        // postDataUrl：‘后台接受post时间&选项框内容url‘
        // chartDataUrl='后台发送图像加载数据url'
        // DataUrl:'前台post和后台发送数据写为同一个函数'                   <!--修改-->
        function searchOnclick(myFormId, echartId, option, startDate, endDate, DataUrl) {
            //获取整个表单中数据  生成查询key-value数组
            var formDate = $("#" + myFormId).serializeArray();
            var formDates = []
            $.each(formDate, function (index, item) {
                formDates[item.name] = item.value;
            })
            // 判断 时间格式
            if (formDates[startDate] == '' || formDates[endDate] == '') {
                {#alert('请选择时间')#}
                //弹出‘请选择时间‘模态框
                $("#dateModal").modal();
            } else {
                //格式正确 发送时间和选项内容到前台
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: DataUrl,
                    data: formDate,
                    success: function (status) {
                        console.log(status)
                        //从前台读取数据重新加载图像
                        load_data(echartId, option, DataUrl);
                    },
                    error: function () {
                        {#alert('查询失败')#}
                        //弹出‘查询失败‘模态框
                        $("#searchModal").modal();
                    }
                });
            }
        }
    </script>
    <script>
        // 柱状图样式
        var option_bar = {
            dataZoom: [
                {
                    type: 'slider',
                    show: true,
                    xAxisIndex: [0],
                    start: 1,
                    end: 35,
                    bottom:'-5',
                },
                {
                    type: 'inside',
                    xAxisIndex: [0],
                    start: 1,
                    end: 35
                },
            ],
            backgroundColor: '#00265f',
            title: {
                y: "4%",
                textStyle: {
                    color: '#fff',
                    fontSize: '22'
                },
                subtextStyle: {
                    color: '#90979c',
                    fontSize: '16',

                },
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                top: '15%',
                right: '3%',
                left: '5%',
                bottom: '12%'
            },
            legend: {
                data: ['可用度'],
                show: false
            },
            xAxis: {
                data: [],
                axisLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,0.12)'
                    },
                },
                axisLabel: {
                    margin: 10,
                    color: '#e2e9ff',
                    textStyle: {
                        fontSize: 14
                    },
                },
            },
            yAxis: {
                axisLabel: {
                    formatter: '{value}',
                    color: '#e2e9ff',
                },
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: 'rgba(255,255,255,1)'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,0.12)'
                    }
                }
            },
            series: [{
                name: 'MDT',
                type: 'bar',
                data: [],
                barWidth: '20px',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(0,244,255,1)' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: 'rgba(0,77,167,1)' // 100% 处的颜色
                        }], false),
                        barBorderRadius: [30, 30, 30, 30],
                        shadowColor: 'rgba(0,160,221,1)',
                        shadowBlur: 4,
                    }
                },
                label: {
                    normal: {
                        show: true,
                        lineHeight: 30,
                        width: 80,
                        height: 30,
                        backgroundColor: 'rgba(0,160,221,0.1)',
                        borderRadius: 200,
                        position: ['-8', '-60'],
                        distance: 1,
                        formatter: [
                            '    {d|●}',
                            ' {a|{c}}     \n',
                            '    {b|}'
                        ].join(','),
                        rich: {
                            d: {
                                color: '#3CDDCF',
                            },
                            a: {
                                color: '#fff',
                                align: 'center',
                            },
                            b: {
                                width: 1,
                                height: 30,
                                borderWidth: 1,
                                borderColor: '#234e6c',
                                align: 'left'
                            },
                        }
                    }
                }
            }]
        };
    </script>
    <script>
        // 折线图样式
        var option_line = {
            dataZoom: [
                {
                    type: 'slider',
                    show: true,
                    xAxisIndex: [0],
                    start: 1,
                    end: 35,
                    bottom:'-5',
                },
                {
                    type: 'inside',
                    xAxisIndex: [0],
                    start: 1,
                    end: 35
                },
            ],
            backgroundColor: '#080b30',
            title: {
                y: "4%",
                textStyle: {
                    color: '#fff',
                    fontSize: '22'
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    lineStyle: {
                        color: {
                            type: 'linear',
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [{
                                offset: 0,
                                color: 'rgba(0, 255, 233,0)'
                            }, {
                                offset: 0.5,
                                color: 'rgba(255, 255, 255,1)',
                            }, {
                                offset: 1,
                                color: 'rgba(0, 255, 233,0)'
                            }],
                            global: false
                        }
                    }
                }
            },
            legend: {
                data: ['可用度'],
                show: false
            },
            grid: {
                top: '15%',
                right: '3%',
                left: '5%',
                bottom: '12%'
            },
            xAxis: {
                data: [],
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: '#9581F5'
                    },
                },
                splitArea: {
                    // show: true,
                    color: '#f00',
                    lineStyle: {
                        color: '#f00'
                    },
                },
                axisLabel: {
                    color: '#fff',
                    fontSize:14
                },
                splitLine: {
                    show: false
                },
                boundaryGap: false,
                data: ['8：00', '9:00', '10:00', '11:00', '12:00', '13:00'],
            },
            yAxis: {
                min: 0,
                // max: 140,
                splitNumber: 4,
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255,255,255,0.1)'
                    }
                },
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: '#9581F5'
                    },
                },
                axisLabel: {
                    show: true,
                    margin: 20,
                    textStyle: {
                        color: '#d1e6eb',
                    },
                },
                axisTick: {
                    show: true,
                },
            },
            series: [{
                name: 'MDT',
                type: 'line',
                data: [],
                // smooth: true, //是否平滑
                showAllSymbol: true,
                // symbol: 'image://./static/images/guang-circle.png',
                symbol: 'circle',
                symbolSize: 12,
                lineStyle: {
                    normal: {
                        color: "#6c50f3",
                        shadowColor: 'rgba(0, 0, 0, .3)',
                        shadowBlur: 0,
                        shadowOffsetY: 5,
                        shadowOffsetX: 5,
                    },
                },
                label: {
                    show: true,
                    position: 'top',
                    textStyle: {
                        color: '#fff',
                    }
                },
                itemStyle: {
                    color: "#6c50f3",
                    borderColor: "#fff",
                    borderWidth: 3,
                    shadowColor: 'rgba(0, 0, 0, .3)',
                    shadowBlur: 0,
                    shadowOffsetY: 2,
                    shadowOffsetX: 2,
                },
                tooltip: {
                    show: true
                },
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(108,80,243,0.3)'
                        },
                            {
                                offset: 1,
                                color: 'rgba(108,80,243,0)'
                            }
                        ], false),
                        shadowColor: 'rgba(108,80,243, 0.9)',
                        shadowBlur: 20
                    }
                },
            }]
        };
    </script>
    <script>
        // 函数封装 异步加载数据
        // 参数说明
        // id='图像位置div的id'
        // option=option_bar/option_line
        // url='/url',x_name=指定图x轴数组，y_name=指定图y轴数组
        function load_data(id, option, url,) {
            var myChart = echarts.init(document.getElementById(id));
            var x_name = []
            var y_name = []
            myChart.setOption(option)
            myChart.showLoading();
            $.get(url).done(function (data) {
                myChart.hideLoading();
                //遍历，分别取出key，value 字段名
                data = $.parseJSON(data)
                $.each(data, function (index, item) {
                    x_name.push(item.name);
                    y_name.push(item.value);
                });
                // 填入数据
                myChart.setOption({
                    title: {
                        show: false,
                    },
                    xAxis: {
                        data: x_name //不要用categore，data命名
                    },
                    series: [{
                        // 根据名字对应到相应的系列 name必须与图像样式里legend的name一样
                        name: 'MDT',
                        data: y_name
                    }]
                });
            });
        }

        // 修改参数 初始化界面图像
        $(function () {
            load_data('echartsMDT1', option_bar, '/t')
            load_data('echartsMDT2', option_line, '/t')
        });
    </script>
{% endblock %}